<% provide(:title, @user.name + " - Photos") %>
      <div class="span12">
        <div class="row">
          <h1>My Posts</h1>
          <span>Total Posts: <%= @user.posts.count %></span><br>
          <span><%= link_to "Upload Photo", new_post_path %> </span>
          <% if @user.posts.any? %>
            <ol class="posts">
              <%= render @posts %>
            </ol>
            <%= will_paginate @posts %>
          <% end %> 
        </div><!--/row-->

