<h1>Listing users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Profile img</th>
      <th>Profile bio</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.name %></td>
        <td><%=link_to image_tag(user.avatar.url(:thumb)), "/users/" + user.id.to_s %></td>
        <td><%= simple_format h user.profile_bio %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

